.social-links-viewpart {
    position: relative;
}

.social-links-viewpart .social-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: '#3233aa33';
    border-radius: 3px;
    height: 27px;
}

.social-links-viewpart .social-links .tooltip .tooltip-inner {
    max-width: 300px;
}